#WiFiPassword {
  padding: .5em 0 1em;
  text-align: right;
}

#WiFiPassword:after {
  content:"";
  display: block;
  clear:both;
}

#WiFiPassword #qrdiv {
  float:none;
}

#WiFiPassword #textDiv {
  float:right;
}

#WiFiPassword #textDiv .text {
  font-size: .6em;
  white-space:nowrap;
  line-height: 1em;
  margin: 0 0 .5em 0;
}

#WiFiPassword #textDiv .text:last-of-type {
  margin: 0 ;
}

#WiFiPassword #textDiv .text b {
  font-size: .8em;
  display: block;
  opacity: .7;
}

.layout-vertical {
  display: block;
}

#WiFiPassword #qrdiv {
  padding-top: .2em;
}

#WiFiPassword #qrdiv.layout-horizontal {
  float: right;
  padding-left: .4em;
}